body {
    background-color: ivory;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: lightskyblue;
}

p {
    color: royalblue;
    border: 2px solid gray;
    padding: 30px;
    margin: 40px;
}